<h1>DEALS INDEX</h1>

<% @product.deals.each do |deal| %>
  
  <div>Deal name: <%=@product.name %></div>
  <div>Sum: <%= @product.amount * deal.quantity %></div>
<% end %>

<br>
<%= link_to 'Add new Deal', new_product_deal_path %>