<h1>DEALS INDEX</h1>

<% @product.deals.each do |deal| %>
  <%=deal.id %>
  <%=@product.name %>
  <%= @product.amount * deal.quantity %>
<% end %>

<br>
<%= link_to 'Add new Deal', new_product_deal_path %>