<section class="d-flex justify-content-between bg-primary pageHeader align-items-center px-3" style="color:white;">
  <div>
    <i data-feather="align-justify" role="button"></i>
  </div>
  <div class="fs-3 text-uppercase">
    <%= page_title %>
  </div>
  <div>
    <i data-feather="search" role="button"></i>
  </div>
</section>